<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200641316322-gakl0p5gs79vdeg6so0vh1dmtrnnnd9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200641316322-gakl0p5gs79vdeg6so0vh1dmtrnnnd9c</string>
	<key>API_KEY</key>
	<string>AIzaSyAdVokrcuxLmmrR0gqFSMqHY_7Cp57PMDA</string>
	<key>GCM_SENDER_ID</key>
	<string>200641316322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ERPProto1</string>
	<key>PROJECT_ID</key>
	<string>erpassistant-d0d59</string>
	<key>STORAGE_BUCKET</key>
	<string>erpassistant-d0d59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200641316322:ios:205823facf7034785ce5bb</string>
	<key>DATABASE_URL</key>
	<string>https://erpassistant-d0d59.firebaseio.com</string>
</dict>
</plist>